.button {
  display: block;
  cursor: pointer;
  font-family: sans-serif;
  background: #0366d6;
  color: #fff;
  text-align: center;
  padding: 12px 15px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.button--full {
  width: 100%;
}