.button {
  display: block;
  cursor: pointer;
  font-family: sans-serif;
  background: #0366d6;
  color: #fff;
  text-align: center;
  padding: 12px 15px;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: all .2s ease-in;

  &:hover {
    transform: scale(1.03)
  }

  &:active {
    transform: scale(0.95)
  }
}

.button--full {
  width: 100%;
}