.coffee-order__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px;
}

.coffee-order__title,
.coffee-order__price {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.coffee-order__params {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px dashed #c3c3c3;
}

.coffee-order__params-title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #000;
}

.coffee-order__params-content {
  & > div {
    margin-bottom: 20px;
  }
}

.coffee-order__summary {
  padding: 20px 0;
}

.coffee-order__summary-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 14px;
  border-bottom: 1px dashed #c3c3c3;
  padding: 10px 0;

  &:last-of-type {
    border-bottom: none;
  }
}