.coffee-card {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: all .1s ease-in;
  font-family: sans-serif;
  font-weight: bold;

  &:nth-of-type(3n) {
    margin-right: 0;
  }

  &:hover {
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.05);
  }
}

.coffee-card__img {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.coffee-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.coffee-card__actions {
  padding: 10px;
}