* {
  box-sizing: border-box;
}

#root,
html,
body,
.wrapper {
  min-height: 100%;
}

body {
  background: #fafafa;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.page-content {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 40px;
  background: #fff;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.02);
}